<appSettings>
  <add key="MailServer" value="dev-stmp.vidlko.com" />
  <add key="FacebookAppId" value="1102865927218584" />
  <add key="FacebookAppSecret" value="0cad6a8db5e0cfa12ac5c7e6741e7fa5" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>